{% extends 'layout/base.html' %}
{% block title %}Teacher Details{% endblock %}
{% block body %}
    <h1>Teacher Details</h1>
    <div class="card">

    </div>
    <script>
        $('#home').removeClass('active')
        $('#student').removeClass('active')
        $('#teacher').addClass('active')
        var path=window.location.pathname.split('/')
        console.log("id")
        console.log(path[3])
        
        $.ajax({
            type:"GET",
            url: "http://127.0.0.1:8000/teacher/teacher_details_api/"+path[3]+"/", 
            success: function(value){
                 $('.card').html(`
                    <img class="card-img-top" src="${ value.profile_picture }" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">First Name : ${ value.first_name } (Id : ${value.id})</h5>
                      <h5>Last Name : ${ value.last_name }</h5>
                      <p class="card-text">Email : ${ value.email }</p>
                      <p class="card-text">Father Name : ${ value.father_name }</p>
                      <p class="card-text">Mother Name : ${ value.mother_name }</p>
                      <p class="card-text">Religion : ${ value.religion }</p>
                      <p class="card-text">Gender : ${ value.gender }</p>
                      <p class="card-text">Birth Date : ${ value.birth_date }</p>
                      <p class="card-text">Phone : ${ value.phone }</p>
                      <p class="card-text">Joining : ${ value.joining_date }</p>
                      <p class="card-text">Rtirement: ${ value.retirement_date }</p>
                      <p class="card-text">Address : ${ value.address }</p>
                      <p class="card-text">Blood Group : ${ value.blood_group }</p>
                      <p class="card-text">Salary : ${ value.salary }</p>
                      <p class="card-text">Student : ${ value.student }</p>
                      <a href="/student/student_list/" class="card-link"><button class="btn btn-primary text=dark">Back</button></a>
                    </div>
                `)
            },
            error: function(errormsg){
                console.log(errormsg)
            }
        });
    </script>
{% endblock %}