{% extends 'layout/base.html' %}
{% block title%} Teacher List {% endblock %}
{% block body %}
<h1>Teacher Dashboard</h1>
<h1>Search by salary</h1>
<form id="form">
  <label for="salary">Choose a Teacher:</label>
  <select name="salary" id="salary">
    <optgroup label="Under 50000">
      <option value="10000">10000</option>
      <option value="20000">20000</option>
      <option value="30000">30000</option>
      <option value="40000">40000</option>
      <option value="50000">50000</option>
    </optgroup>
    <optgroup label="Over 50000">
      <option value="60000">60000</option>
      <option value="70000">70000</option>
      <option value="79000">79000</option>
      <option value="80000">80000</option>
      <option value="85000">85000</option>
      <option value="90000">90000</option>
      <option value="100000">10000</option>
    </optgroup>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
    <div class="card" style="max-width: 540px;">

    </div>      
<script>
    $('#home').removeClass('active')
    $('#student').removeClass('active')
    $('#teacher').addClass('active')
    console.log('This is my piranha')
    function hide_value(id){
        $('#main-'+id).hide()
    }
    $.ajax({
        type:"GET",
        url: "http://127.0.0.1:8000/teacher/teacher_list_api/",
        data: "",
        success: function(value){
            for(var x=0;x<value.length;x++){
                // $('.id').append(value[x].id)
                // $('.first_name').append(value[x].first_name)
                // $('.last_name').append(value[x].last_name)
                // $('.father_name').append(value[x].father_name)
                // $('.mother_name').append(value[x].mother_name)
                console.log(value)
                $('.card').append(`
                        <div class="card-header">
                            Id : ${ value[x].id }
                        </div>
                        <div class="card-body" id="main-${ value[x].id }">
                          <img class="card-img-top" style="height: 300px" src="${ value[x].profile_picture }" alt="Card image cap">
                            <h5 class="card-title">First name : ${ value[x].first_name }</h5>
                            <h5 class="card-title">Last name : ${ value[x].last_name }</h5>
                            <p class="card-text">Gender: ${ value[x].father_name } </p>
                            <p class="card-text">Phone : ${ value[x].mother_name } </p>
                            <p class="card-text">Joined : ${ value[x].blood_group } </p>
                            <p class="card-text">Email : ${ value[x].email } </p>
                            <p class="card-text">Address : ${ value[x].address }</p>
                            <a href="/teacher/teacher_details/${ value[x].id }/" target="_blank"><button class="btn btn-outliner-primary">Details</button></a>
                            <a target="_blank" onclick="hide_value(${ value[x].id})"><button class="btn btn-outliner-primary">Hide</button></a>
                        </div>
                    `)
            }
        },
        error: function(errormsg){
            console.log(errormsg)
        }
    });    
    $('#salary').change(function(){
        console.log($('#salary').val())
    })  
</script>
{% endblock %}