{% extends 'layout/base.html'%}
{% block title %}Student | Sign up Dashboard{% endblock %}
{% block body %}
<h3>Sign up here.....</h3>
    {% csrf_token %}
<div id="main_input">       
    <label for="first_name">First name : </label>
    <input type="text" id="first_name" name="first_name" value="" placeholder="First Name"><br>

    <label for="last_name">Last name : </label>
    <input type="text" id="last_name" name="last_name" value="" placeholder="Last Name"><br>

    <label for="gender">Gender : </label>
    <select name="gender" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select><br>

    <label for="birth_date">Birth Date : </label>
    <input type="date" id="birth_date" name="birth_date" value="" placeholder="Birth Date"><br>

    <label for="phone">Phone : </label>
    <input type="text" id="phone" name="phone" value="" placeholder="Phone"><br>

    <label for="email">Email : </label>
    <input type="email" id="email" name="email" value="" placeholder="Email"><br>

    <label for="password">Password : </label>
    <input type="password" id="password" name="password" value="" placeholder="Password"><br><br>

    <input id="sign_up_submit" type="submit" value="Create Account">
</div>
<div id="main_otp">
    <p id="error"></p>
    <label for="otp">OTP : </label>
    <input type="text" id="otp" name="otp" value="" placeholder="Enter your OTP"><br><br>
    <input id="otp_submit" type="submit" value="Active Account">                    
</div>

<h5>If you click the "Submit" button, your sign up request will be sent.<h5>
<script>
    $('#home').removeClass('active')
    $('#student').removeClass('active')
    $('#teacher').removeClass('active')
    $('#student_sign_up').addClass('active')  
    $('#main_otp').hide()  
    $('#sign_up_submit').click(function(){
        var data_str={}
        data_str['first_name']=$('#first_name').val()
        data_str['last_name']=$('#last_name').val()
        data_str['gender']=$('#gender').val()
        data_str['birth_date']=$('#birth_date').val()
        data_str['phone']=$('#phone').val()
        data_str['email']=$('#email').val()
        data_str['password']=$('#password').val()
        $.ajax({
            type:"POST",
            url:"http://127.0.0.1:8000/student/student_sign_up_api/",
            data:JSON.stringify(data_str),
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            success:function(value){
                if(value.status==200){
                    console.log(value.Email)
                    localStorage.setItem('email',value.Email)
                    $('#main_input').hide()
                    $('#main_otp').show()
                }
            },
            error:function(errormsg){
                console.log(errormsg)
            }
        });
    })


    $('#otp_submit').click(function(){
        var data={}
        data['email']=localStorage.getItem('email')
        data['otp']=$('#otp').val()
        $.ajax({
            type:"PUT",
            url:'http://127.0.0.1:8000/student/student_otp_check_api/',
            data:JSON.stringify(data),
            success: function(data){
                    console.log(data)
                if(data.Status==200){
                    $('#main_otp').html("Success")
                }else{
                    $('#error').html(data.message)
            }
                
            },
            error: function(errormsg){
                $('#error').html(errormsg.Message)
            }
        });
    })
</script>
{% endblock %} 