{% extends 'layout/base.html' %}
{% block title %} Student List {% endblock %}
{% block body %}
    <h1>Student List</h1>

    <div class="card"></div>

<script>
    $('#home').removeClass('active')
    $('#student').addClass('active')
    $.ajax({
            // headers: {Authorization: 'Bearer '+localStorage.getItem('access')},
            type:"GET",
            url: "http://127.0.0.1:8000/student/student_list_api/",
            success: function(value){
                for(var x = 0; x < value.length; x++){
                    console.log(value)
                    $('.card').append(`
                        <div class="card-header">
                            Id : ${ value[x].id }
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">First name : ${ value[x].first_name }</h5>
                            <h5 class="card-title">Last name : ${ value[x].last_name }</h5>
                            <p class="card-text">Gender: ${ value[x].gender } </p>
                            <p class="card-text">Phone : ${ value[x].phone } </p>
                            <p class="card-text">Joined : ${ value[x].session } </p>
                            <p class="card-text">Email : ${ value[x].email } </p>
                            <a target="_blank" href="/student/student_details/${ value[x].id }/" class="btn btn-primary">Details</a>
                        </div>
                    `)
                }
            },
            error: function(errormsg){
                console.log(errormsg)
            }
        });
</script>
{% endblock %}