{% extends 'layout/base.html' %}
{% block title %} Student List {% endblock %}
{% block body %}
    <h1>Student List</h1>
    <!-- {% for dt in data %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{media_url}}{{ dt.profile_picture }}" class="card-img" alt="...">
            </div>
                <div class="col-md-8">
                <div class="card-body">
                    <div class="id">Id : {{ dt.id }}</div>  
                    <h5 class="card-title-fn">First Name : {{ dt.first_name }}</h5>
                    <h5 class="card-title-ln">Last Name : {{ dt.last_name }}</h5>
                    <h6 class="card-gender">Gender : {{ dt.gender }}</h6>
                    <h6 class="card-address">Address : {{ dt.address }}</h6>
                    <h6 class="card-mail"><small class="text-muted">Mail : {{ dt.email }}</small></h6>
                    <a target="_blank" href="/student/student_details/{{ dt.id }}" class="card-details"><button class= "btn bg-secondary text-light">Details</button></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} -->
    <div class="card">

    </div>
<script>
    $('#home').removeClass('active')
    $('#student').addClass('active')
    $.ajax({
        headers : {Authorization : 'Bearer '+localStorage.getItem('access')},
        type : "GET",
        url : "http://127.0.0.1:8000/student/student_list_api/",
        success : function(rrr){
            for(var x=0; x<rrr.length; x++){
                console.log(rrr)
                $('.card').append(`
                    <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="${ rrr[x].profile_picture }" class="card-img" alt="...">
                        </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                <div class="id">Id : ${ rrr[x].id }</div>  
                                <h5 class="card-title-fn">First Name : ${ rrr[x].first_name }</h5>
                                <h5 class="card-title-ln">Last Name : ${ rrr[x].last_name }</h5>
                                <h6 class="card-gender">Gender : ${ rrr[x].gender }</h6>
                                <h6 class="card-address">Address : ${ rrr[x].address }</h6>
                                for(var y=0; y<rrr.Class_Information.length; y++){
                                    <h6>Class : ${ rrr.Class_Information[y].student_class }</h6>
                                }
                                <h6 class="card-mail"><small class="text-muted">Mail : ${ rrr[x].email }</small></h6>
                                <a target="_blank" href="/student/student_details/${ rrr[x].id }" class="card-details"><button class= "btn bg-secondary text-light">Details</button></a>
                            </div>
                            </div>
                        </div>
                    </div>
                `)
            }
        },
        error : function(errormsg){
            console.log(errormsg)
        }

    });
</script>
{% endblock %}